{% load static %}
<!-- Footer -->

<section>
    <footer>
        <div class="container-fluid">
            <div class="container">
                <div class="row text-center footer">
                    <div class="col">
                        <h1>Welcome to Our Grillino family resort</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime doloremque aut optio numquam omnis,<br> corporis neque suscipit praesentium, nisi placeat quibusdam, illo molestiae autem aliquid obcaecati? Quibusdam iure architecto esse?</p>
                        <div class="row">
                            <h3>Connect with Socialmedia</h3>
                            <div class="col footer-socialmedia mt-3">
                                <a href="#"><i class="fa-brands fa-whatsapp" style="color: #00ff1e;"></i></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f" style="color: #0191ff;"></i></i></a>
                                <a href="#"><i class="fa-brands fa-instagram" style="color: #ff00dd;"></i></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter" style="color: black;"></i></a></div>
                        </div>
                        <div class="col copyright">                        
                            <p>Copyright ©2024. All Rights Reserved. — Designed by Prakash Nataraj Distributed By <span> Q-techx</span></p>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                </div>
            </div>
        </div>
    </footer>
</section>