{% extends "binding.html" %}
{% load static %}
{% block title %}
Home
{% endblock title %}

{% block content %}
{% include "slider.html" %}
{% comment %} <section>
    <div class="container  dish-container" id="backbutton" data-aos="fade-right" data-aos-delay="120" >
        <div class="dish-details row row-cols-1 row-cols-md-2 g-5 my-5 dish-row">
            <div class="col text-center">
                <img src="{% static 'images/briyani.webp' %}" alt="" class="img-fluid mb-2 mb-md-5">
                <!-- <img src="im   g/food-menu/food-menu-img-2-6.jpg" alt="" class="img-fluid mb-2 mb-md-5"> -->
            </div>
            <div class="col text-center dish-text-div">
                 <div class="dish-text">
                    <h2>Biryani</h2>
                    <p>The spices and condiments used in biryani may include fennel seeds, ghee <span>(clarified butter)</span>, nutmeg, mace, pepper, cloves, cardamom, cinnamon, bay leaves, coriander, mint, ginger, onions, tomatoes, green chilies, star anise, and garlic. The premium varieties include saffron.Some <span>commercial recipes for biryani also include aromatic essences</span> such as Mitha attar, kewra and rose water. Dried sour prunes (alu bukhara) may also be added to the biryani. In nasi briyani and other variants made in Southeast Asian countries such as Malaysia, Singapore, and Indonesia, typical Southeast Asian spices and aromatics such as pandan leaf may be used alongside typical South Asian spices.</p>                  
                </div>
            </div>
        </div>
    </div>

    <div class="container  dish-container" id="backbutton" data-aos="fade-left" data-aos-delay="120">
        <div class="dish-details row row-cols-1 row-cols-md-2 g-5 my-5 dish-row">
            <div class="col text-center dish-text-div">
                <div class="dish-text order-2">
                    <h2>Vegetarian meal</h2>
                    <p><span>"Virundhu"</span> refers to the core elements of Tamil cuisine offered to the guests on special occasions such as <span>festivals and marriage ceremony</span> . <i>Rice staples, tomato rice, Paruppu, sambar, rasam, kuzhambu, poriyal and koottu</i> are added with buttermilk or curd to prepare pachadi. Dry and fresh fruits or vegetables are also used to prepare traditional cuisine. They serve salt, pickles, vada, payasam and appalam. After the meal, a banana and a betel leaf (paan) with areca nuts and limestone paste are served to promote digestion. Before eating traditional cuisine, people clean the banana leaf with water. It is used as a large dining table sheet to serve food for guests and family members on which the food items are placed. </p>                  
                </div>
            </div>
            <div class="col text-center order-1">
                <img src="{% static 'images/gallery-img-1-1.jpg' %}" alt="" class="img-fluid mb-2 mb-md-5">
                <!-- <img src="img/food-menu/food-menu-img-2-3.jpg" alt="" class="img-fluid mb-2 mb-md-5"> -->
            </div>
        </div>
    </div>

    <div class="container  dish-container" id="backbutton" data-aos="fade-right" data-aos-delay="120">
        <div class="dish-details row row-cols-1 row-cols-md-2 g-5 my-5 dish-row">
            <div class="col text-center">
                <img src="{% static 'images/gallery-img-1-2.jpg' %}" alt="" class="img-fluid mb-2 mb-md-5">
                <!-- <img src="img/food-menu/food-menu-img-13-2.jpg" alt="" class="img-fluid mb-2 mb-md-5"> -->
            </div>
            <div class="col text-center dish-text-div">
                 <div class="dish-text">
                    <h2>Beijing Chinese</h2>
                    <p>Experience the authentic traditional Beijing cuisine that is Peking duck, renowned worldwide as an exquisite dish, fit for an Empress. Invented during the Ming Dynasty, Peking roast duck was a royal delicacy. In keeping with tradition, only the very best duck is chosen and roasted by fire.  Beijing for no other reason than its food, you won’t be disappointed. With a variety of dishes and dining options to <span>suit every taste and budget, in many ways, China’s capital</span> is a culinary delight. Be sure to plan your menus ahead to take advantage of food that will <span>surely surprise and delight.</span></p>                  
                </div>
            </div>
        </div>
    </div>

    <div class="container  dish-container" id="backbutton" data-aos="fade-left" data-aos-delay="120">
        <div class="dish-details row row-cols-1 row-cols-md-2 g-5 my-5 dish-row">
            <div class="col text-center dish-text-div">
                <div class="dish-text">
                    <h2>Shanghai Cuisine</h2>
                    <p>Shanghai cuisine, also referred to as <span>Benbang cuisine, balances color, aroma and taste.</span>
                        While appearances may not always be appealing to a Western palate. Shanghai dishes feature a comparatively <span>sweet and light-salt flavor</span>. By contrast to the heavy and spicy flavor prevailing in China’s north, Shanghai cuisine offers a different culinary experience.A contrast to typical Shanghai street food, traditional Shanghai cuisine is somewhat different and readily available in local restaurants. ChinaTours.com is a reputable provider of China tours, and in writing this article our local tour guides have assisted by handpicking a <span>few famous favorites, including some must-try Shanghai cuisine</span> dishes for those visiting this fascinating city.</p>                  
                </div>
            </div>
            <div class="col text-center">
                <img src="{% static 'images/gallery-img-1-7.jpg' %}" alt="" class="img-fluid mb-2 mb-md-5">
                <!-- <img src="img/gallery/gallery-img-1-4.jpg" alt="" class="img-fluid mb-2 mb-md-5"> -->
            </div>
        </div>
    </div>

    <div class="container  dish-container" id="backbutton" data-aos="fade-right" data-aos-delay="120">
        <div class="dish-details row row-cols-1 row-cols-md-2 g-5 my-0 dish-row">
            <div class="col text-center">
                <img src="{% static 'images/gallery-img-1-9.jpg' %}" alt="" class="img-fluid mb-2 mb-md-5">
                <!-- <img src="img/gallery/gallery-img-2-1.jpg" alt="" class="img-fluid mb-2 mb-md-5"> -->
            </div>
            <div class="col text-center dish-text-div">
                 <div class="dish-text">
                    <h2>Chinese Cuisine</h2>
                    <p>Chinese cuisine starts with the 4 thousand year old archaeological findings of the oldest noodle food found in the upper reaches of the Chinese Yellow River. By the time of the Han Dynasty. Southern china was famous for their rice, and food from the North China Plain was predominately focused on flour products.  while tradition of drinking tea can be found from the influence of the earlier <span> “Southern and Northern Dynasties”</span> period of time during <i>5th century</i> AD. During Tang Dynasty, tea became highly popular in elite societies, signifying wealth and balance of health. <span>By the time of the Song Dynasty (960–1279)</span>, life in cities became more and more easier, with trade and rise of the manufacturing jobs enabled Chinese population access to better quality of life and better access to food.</p>                  
                </div>
            </div>
        </div>
    </div>

    <div class="container  dish-container" id="backbutton" data-aos="fade-left" data-aos-delay="120">
        <div class="dish-details row row-cols-1 row-cols-md-2 g-5 my-5 dish-row">
            <div class="col text-center dish-text-div">
                <div class="dish-text">
                    <h2>Aloo Gobi</h2>
                    <p>A dish of tender chicken in a mildly spiced tomato sauce. It’s traditionally cooked in a tandoor <i>(a cylindrical clay oven)</i>. The gravy is always made first by boiling down fresh tomato, garlic, and cardamom into a bright red pulp. This pulp is then pureed after cooling. Butter, various spices, and khoa <i>(dried whole milk)</i> is then added. The dish originated in <span>Delhi during the 1950s</span>.Aloo Gobi is a vegetarian dry curry, consisting of potatoes <i> (aloo)</i>, cauliflower <i> (gobi)</i>, and Indian spices. It has a warm, yellow-orange color because it contains turmeric. Other common ingredients include <span>kalonji, curry leaves, garlic, ginger, onion, coriander stalks, tomato, peas, and cumin.</span></p>                  
                </div>
            </div>
            <div class="col text-center">
                <img src="{% static 'images/gallery-img-1-5.jpg' %}" alt="" class="img-fluid mb-2 mb-md-5">
                <!-- <img src="img/food-menu/food-menu-img-13-4.jpg" alt="" class="img-fluid mb-2 mb-md-5"> -->
            </div>
        </div>
    </div>

    <div class="container  dish-container" id="backbutton" data-aos="fade-right" data-aos-delay="120">
        <div class=" dish-details row row-cols-1 row-cols-md-2 g-5 my-5 dish-row">
            <div class="col text-center">
                <img src="{% static 'images/chickenrice.jpg' %}" alt="" class="img-fluid mb-2 mb-md-5">
                <!-- <img src="img/food-menu/food-menu-img-13-1.jpg" alt="" class="img-fluid mb-2 mb-md-5"> -->
            </div>
            <div class="col text-center dish-text-div">
                 <div class="dish-text">
                    <h2>Chicken Rice</h2>
                    <p>Fried rice is a dish of cooked rice that has been stir-fried in a wok or a frying pan and is usually mixed with other ingredients such as eggs, vegetables, seafood, or meat. It is often eaten by itself or as an accompaniment to another dish. Fried rice is a popular component of East Asian, Southeast <i>Asian and certain South Asian cuisines</i>, as well as a staple national dish of Indonesia. As a homemade dish, fried rice is typically made with ingredients left over from other dishes, leading to countless variations. Fried rice first developed during the Sui dynasty in China.Cooked rice is the primary ingredient, with a wide variety of additional ingredients, such as vegetables, eggs, meat <span> (chicken, beef, pork, lamb, mutton)</span>, preserved meat <span>(bacon, ham, sausage), seafood (fish, shrimp, crab)</span>, and mushrooms.</p>                  
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}

<section>
    <marquee behavior="scroll" direction="left" style="font-size:40px; text-shadow:black 2px 2px; color:orange;">Restaurant Special</marquee>
    <div class="container categories">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center item  g-4 mb-5">
                {% for item in data %}
               <div>
                <div class="col category">
                    <a href="#"><img src="{{item.Imageurl}}" alt="" class="img-fluid mt-3 mt-md-0"></a>
                    <div class="categorytext mt-4">
                        <h4>{{item.name}}</h4>
                        <h4 style='color:orange;'>&#8377;{{item.selling_price | floatformat:0}}</h4>
                    </div>
                </div>
               </div>
                {% endfor %}
        </div>
    </div>
</section>
 <!-- Display reviews for each product -->
<div class="reviews-list">
    <h3 class="mt-5 text-center">Reviews</h3>
    <div class="review-container"> <!-- Added a wrapping div to hold the reviews -->
        {% for item in reviews %}
            <div class="review-item border-review">
                <p><strong>{{ item.customer }}:</strong> {{ item.comment }}</p>
                <p><strong>About:</strong> {{ item.about }}</p>
                <p><strong>Rating:</strong> {{ item.rating }} / 5</p>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}
